################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bookStore/.vs/bookStore/v16
/bookStore/bookStore/obj
